h1 {
    margin: auto;
    text-align: left;
    color: #795300;;
}

body {
    background-color: palevioletred;
    display: flex;
}

div#jorge{
    float: left;
    margin: 5%;
    width: 30%;
    font-family: "Latin Modern Roman";
    font-style: italic ;
    font-size: large;
    color: #795300;
}

img{
    width: 500px;
    height: 50%;
    margin: 35%;
}